<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tispunshahryar960103.securityman">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".AppConfig"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_secure_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SecurityMan"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.webService.laravel.LaravelActivity"
            android:exported="true" />
        <activity
            android:name=".ui.webService.sslPinning.SSLPinningActivity"
            android:exported="true" />
        <activity
            android:name=".ui.webService.secure.SecureActivity"
            android:exported="true" />
        <activity
            android:name=".ui.webService.notSecure.NotSecureActivity"
            android:exported="true" />
        <activity
            android:name=".ui.webService.WebServiceActivity"
            android:exported="true" />
        <activity
            android:name=".ui.databases.room.RoomActivity"
            android:exported="true" />
        <activity
            android:name=".ui.databases.realm.RealmActivity"
            android:exported="true" />
        <activity
            android:name=".ui.databases.sqlCipher.SqlCipherActivity"
            android:exported="true" />
        <activity
            android:name=".ui.databases.injection.SqlInjectionActivity"
            android:exported="true" />
        <activity
            android:name=".ui.databases.sqlite.Sqliteactivity"
            android:exported="true" />
        <activity
            android:name=".ui.databases.DatabaseActivity"
            android:exported="true" />
        <activity android:name=".ui.sharedPref.SharedPreferencesActivity" />
        <activity android:name=".ui.input.InputValueActivity" />
        <activity android:name=".ui.permissions.PermisionActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>